body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    margin-top: 30px;
}

input, select {
    padding: 10px;
    width: 220px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

label {
    font-weight: bold;
}

#result {
    margin-top: 20px;
    color: green;
    white-space: pre-line;
}